<template>
  <div>
    <h1>Product List</h1>

    <p style="text-decoration: blink" v-if="loading === true">Loading...</p>

    <ul v-if="loading === false">
      <li v-for="product in products">
        {{ product.title }} - {{ product.price | currency }} - {{ product.inventory }}
        <button
          :disabled="!productIsInStock(product)"
          @click="addProductToCart(product)"
        >Add to Cart</button>
      </li>
    </ul>
  </div>
</template>

<script>
  import {mapState, mapGetters, mapActions} from 'vuex'

  export default  {
    data () {
      return {
        loading: false
      }
    },

    computed: {
      ...mapState({
        // computed: mapState(['products']) // if u want to use the same getter name from store otherwise
        // you have to do this:
        products: state => state.products.items, // products is mapped to Store getter products,
        // firstProduct: state => state.products[0] can use a function..
      }),

      ...mapGetters('products', {
        productIsInStock: 'productIsInStock'
      })
    },
    methods: {
      ...mapActions({
        fetchProducts: 'products/fetchProducts',
        addProductToCart: 'cart/addProductToCart'
      }),
    },
    created () {
      this.loading = true;
      this.fetchProducts().then(() => this.loading = false);
    }
}
</script>

<style scoped>

</style>
