<template>
    <div id="app">
      <h1>ShoppingCart</h1>
      <ul>
        <li v-for="cartItem in cartItems">
          {{ cartItem.title }} - {{ cartItem.price | currency }} - {{ cartItem.quantity }}
          <button @click="removeProductFromCart(cartItem)">Remove 1 from Cart</button>
        </li>
      </ul>

      Total Price to pay {{ totalPrice | currency }}

      <button v-if="cart.length > 0" @click="checkout">Checkout</button>
      <p v-if="checkoutStatus">{{ checkoutStatus }}</p>

    </div>
</template>

<script>
  import { mapState, mapGetters, mapActions } from 'vuex'

  export default {
    computed: {
      ...mapGetters('cart', {
        cartItems: 'cartProducts',
        totalPrice: 'cartTotal'
      }),

      // if you wanted getters from another module
      // ...mapGetters('module2', {
      //   cartItems: 'cartProducts',
      //   totalPrice: 'cartTotal'
      // }),

      ...mapState('cart', {
        cart: 'items',
        checkoutStatus: state => state.checkoutStatus
      }),
    },

    methods: {
      ...mapActions('cart', ['checkout', 'removeProductFromCart']),
    }
  }
</script>

<style scoped>

</style>
